# Ignore OpenCV Framework
opencv2.framework
opencv2.framework/Versions/A/opencv2
opencv2.framework/Versions/A/opencv2
opencv2.framework/Versions/A/Headers/core/hal/intrin_rvv_010_compat_non-policy.hpp
opencv2.framework/Versions/A/Headers/Calib3d.h
opencv2.framework/Versions/A/Headers/Imgproc.h
opencv2.framework/Versions/A/Headers/imgproc.hpp
opencv2.framework/Versions/A/Headers/Core.h
opencv2.framework/Versions/A/Modules/opencv2.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
opencv2.framework/Versions/A/Modules/opencv2.swiftmodule/i386-apple-ios-simulator.swiftmodule
opencv2.framework/Versions/A/Modules/opencv2.swiftmodule/armv7-apple-ios.swiftmodule
opencv2.framework/Versions/A/Modules/opencv2.swiftmodule/arm64-apple-ios.swiftmodule
